#userlist {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 70vh;
    margin-left: 10px;
    background: var(--primary-color);
    border-radius: 8px;
    padding: 4px;
}

.user {
    display: flex;
    justify-content: space-around;
    background: #d4d7d8;
    border-radius: 8px;
}

.user+.user {
    margin-top: 5px;
}

.user .user-icon svg {
    width: 40px;
    height: 40px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-status {
    font-style: italic;
}

.on {
    color: green;
}

.off {
    color: grey;
}